.gist-ui-wrapper {
    background: #181919;
    padding: 20px;
}
.gist .gist-meta {
    background-color: #333333 !important;
    color: antiquewhite !important;
}

.gist .gist-file {
    border: thin solid#333333 !important;
}

.gist .gist-meta a {
    color: antiquewhite !important;
}

.gist .gist-data {
    border-radius: 0px !important;
}