.gist-ui-wrapper {
    background: #f2f5f5;
}
.gist .gist-meta {
    background-color: #2f0c67 !important;
    color: #e6e6e6 !important;
}

.gist .gist-file {
    border: thin solid #3c178e !important;
}

.gist .gist-meta a {
    color: #e6e6e6 !important;
}