@import url('https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,800,700,900');

.home-card {
    width: 100%;
    height: 100%;
    background: #181919;
}

.author {
    width: 350px;
    margin: 0 auto;
    position: relative;
    top: 30%;
}

.author-txt {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    letter-spacing: 0.8em;
    font-size: 18px;
    color: antiquewhite;
}

.image-wrapper {
    margin-bottom: 15px;
}

.author-image {
    width: 100px;
    height: 100px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center right;
    object-position: center right;
    border-radius: 10px 100px 100px 10px;
    -webkit-box-shadow: 0px 0px 5px #000;
    box-shadow: 0px 0px 5px #000;
    border-right: 10px solid #42096d;
}

.home-text-rotate {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    position: relative;
    top: 47%;
    color: antiquewhite;
    font-size: 1em;
    letter-spacing: 5px;
    left: 50px;
}

.author-name {
    font-size: 2em;
    letter-spacing: 6px;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    margin-bottom: 15px;
    color: antiquewhite;
}