.author, .intro {
    font-family: 'Poiret One', cursive;
    color: #FFFFFF;
}

.author-name {
    font-size: 0.7em;
    font-family: "dosis";
    letter-spacing: 0.4em;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 45%;
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
}

.intro-descrption {
    font-family: "dosis";
    font-weight: normal;
}

.home-card {
    width: 100%;
    height: 100%;
}

.author {
    display: flex;
    flex-direction: column;
    justify-content: left;
    position: relative;
    top: 44%;
    font-size: 2.5em;
}

.hrl {
    width: 230px;
    height: 1px;
    border-bottom: 1px solid;
    margin: 0 auto;
}