.navigation {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  bottom: 0px;
  width: 100%;
  height: 50px;
}

.link {
  text-decoration: none;
  background: #FFFFFF;
  display: inline-block;
  flex: 1;
  line-height: 50px;
  font-family: 'dosis';
}

.link.colored {
  background: rgb(160, 7, 180);
  color: #FFFFFF;
  font-family: 'dosis';
}


.leftArrow {
  width: 0;
  height: 0px;
  border-top: 26px solid transparent;
  border-bottom: 26px solid transparent;
  border-right: 20px solid #f8f8fb;
  float: right;
}

.link svg {
  margin-right: 10px;
}